* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  img {
    display: block;
  }
}

:root {
  --description-color: #565656;
}

body {
  background-color: rgb(217, 210, 210);
  display: flex;
  justify-content: center;
  /* min-width: 300px; */
}

.social-media-container,
.project-icons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;

  button {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;

    &:active {
      scale: 0.7;
    }
  }
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 0.5em;
}

.info,
.project-info {
  font-family: Roboto, sans-serif;
  color: var(--description-color);
}

.page {
  max-width: 1200px;
}

header,
main,
footer {
  padding: 35px;
}

header,
main {
  background-color: white;
}

header {
  background-image: url("../img/design/header-bg-mob.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;

  .name {
    position: absolute;
    top: 360px;
    max-width: 5em;
    left: calc(50% - 5em / 4);
    text-wrap: wrap;
    font-size: 64px;
    color: white;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      font-size: 24px;
      text-wrap: pretty;
      text-indent: 1em;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .work-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;

    width: 100%;

    .work-card {
      .work-banner {
        width: 100%;
        object-fit: cover;
      }

      .work-description {
        padding: 1rem 1.5rem;
        box-shadow: 3px 3px 20px 3px gray;

        .work-heading {
          display: flex;
          justify-content: flex-between;

          .project-name {
            font-weight: 500;
            margin: 0 auto 0 0.75em;
          }
          margin-bottom: 1.25rem;
        }

        .project-info {
          font-size: 20px;
        }
      }
    }
  }
}

footer {
  display: flex;
  background-color: lightblue;
  height: 600px;
}
